<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--如果Team实体类字段与数据库表team一致，插件x可以一键生成BaseResultMap和Base_Column_List-->

<mapper namespace="com.jiale.teamtogether.mapper.TeamMapper">

<!--    ResultMap 的作用，当类中的属性为maxNum, 数据库中的字段为max_num的时候，默认映射会出现问题-->
<!--    并建议修复为 <result property="maxNum" column="max_num" />-->
    <resultMap id="BaseResultMap" type="com.jiale.teamtogether.model.entity.Team">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="maxNum" column="maxNum" jdbcType="INTEGER"/>
            <result property="expireTime" column="expireTime" jdbcType="TIMESTAMP"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>


    <sql id="Base_Column_List">
        id,name,description,
        maxNum,expireTime,userId,
        status,password,createTime,
        updateTime,isDelete
    </sql>

    <!--    实际开发流程: 生成Mapper XML 骨架，包括ResultMap 和 SQL-->
    <!--    修复字段映射错误，例如userID-user id -->
    <!--    快速编写SQL语句-->

<!--    <select id="selectByPage" resultType="com.jiale.teamtogether.model.entity.Team">-->
<!--        SELECT-->
<!--            <include refid="Base_Column_List" />-->
<!--        FROM team-->
<!--        <where>-->
<!--            &lt;!&ndash; 根据名称模糊搜索 &ndash;&gt;-->
<!--            <if test="name != null and name != ''">-->
<!--                AND name LIKE CONCAT('%', #{name}, '%')-->
<!--            </if>-->
<!--            &lt;!&ndash; 根据状态筛选 &ndash;&gt;-->
<!--            <if test="status != null">-->
<!--                AND status = #{status}-->
<!--            </if>-->
<!--            &lt;!&ndash; 排除已删除数据 &ndash;&gt;-->
<!--            AND isDelete = 0-->
<!--        </where>-->
<!--        ORDER BY createTime DESC-->
<!--    </select>-->
</mapper>
